@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.app__header {
	background-color: #3b424b;
	color: white;
	padding: 20px;
}

.app__header > h2 {
	font-family: Roboto, sans-serif;
	font-size: 23px;
}

.app__form {
	margin-top: 40px;
	margin-left: 100px;
}

.app__form > h2 {
	font-family: Roboto, sans-serif;
	font-size: 27px;
	font-weight: bold;
}

.app__todoInput {
	padding: 10px;
	border-radius: 5px;
	border: 1px solid lightgray;
	outline: 0;
}

.app__addTodo > button {
	background-color: #0470ff;
	outline: none;
	cursor: pointer;
	border-radius: 50%;
	color: white;
	padding: 10px;
	font-size: 15px;
	margin-left: 10px;
	transition: all 0.5s ease;
	border: none;
}

.app__addTodo > button:hover {
	background-color: #4892f1;
}

.app__addTodo > button > i {
	font-weight: 600;
}

.app__ul {
	margin-top: 30px;
	width: 90%;
	margin-left: 100px;
	padding: 0;
	border: 1px solid lightgray;
	border-radius: 4px;
}

.app__addTodo {
	margin-top: 20px;
}

.app__ulCompleted {
	margin-top: 30px;
	width: 90%;
	margin-left: 100px;
	padding: 0;
	border: 1px solid lightgray;
	border-radius: 4px;
}

.fa-trash {
	text-decoration: none;
}
